@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 
  --background: #00000010;
  --foreground: #ffffff;
}

:root {
  --font-geist-sans: 'Geist Sans', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

body {
  
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans); 
  

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}